{% for row in tasks %}
<li class="task" id="task-{{ row.taskID }}">
    <label for="ckbx-{{ row.taskID }}">
        <!-- checked value fixed by GPT, turns out you need to remove it to uncheck :/ -->
        <input type="checkbox" class="taskcheck" id="ckbx-{{ row.taskID }}" {% if row.taskCompletion == 1 %}checked{% endif %}
            onchange="updateTaskState('{{ row.taskID }}', this.checked)">
        <span style="width:100%; flex-grow: 1;"><span class="tasktitle">{{ row.taskName }}</span><br>
            <span class="taskDescription">
                <i>Worth: </i><span class="taskworth v-currency">{{ row.taskValue }}</span> &middot;
                <i>Due by: </i><span class="v-date dueby"> {{ 'No Due Date' if row.dueBy == -1 else ( row.dueBy |
                    timestamp_to_time('%Y-%m-%d') ) }}</span>
            </span>
        </span>
        <button class="editTask rhs" onclick="editTask({{ row.taskID }})">✏️</button>
        <button class="removeTask rhs" onclick="deleteTask({{ row.taskID }})">🗑️</button>
    </label>
</li>
{% endfor %}