:root {
    --bgc: #f0fef6;
    --fgc: #010e06;
    --primary: #0bf661;
    --secondary: #76b4fa;
    --accent: #4e60f8;
    --navheight: 35px;
    --cardbg: hsl(142, 93%, 50%, 5%);
    --outline: rgba(0, 0, 0, 0.1);
}

html.magic *{
    --bgc: linear-gradient(0deg, #11002a, #6420a8);
    --fgc: #f6e1ff;
    --primary: #f6bafb;
    --secondary: #9729fc;
    --accent: #e26cd7;
    --navheight: 35px;
    --cardbg: #6420a834;
    --outline: #f6e1ff4c;
}
.html.magic .card{
    backdrop-filter: blur(10px);
}
/* dark mode is really ugly so we ignore it for now */
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --bgc: #010e07;
        --fgc: #f1fef6;
        --primary: #09f660;
        --secondary: #05438a;
        --accent: #0718b0;
        --cardbg: hsla(0, 0%, 100%, 0.045);
        --outline: rgba(255, 255, 255, 0.1);
        --navheight: 35px;
    }
} */
a{
    color: var(--fgc)
}
body {
    margin: 0px;
    background: var(--bgc);
    font-family: sans-serif;
    color: var(--fgc);
    overflow: hidden;
    min-height:100vh;
}

section.sidebar {
    display: none;
}

main:has(input#navtoggle:checked) section.sidebar {
    display: block;
}

section.sidebar {
    width: 15vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 35px;
    border-right: 1px solid var(--outline);
    background: var(--bgc);
    padding: 10px;
}

nav.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100vw - 12px);
    height: calc(var(--navheight) - 12px);
    display: block;
    z-index: 1;
    padding: 6px;
    border-bottom: 1px solid var(--outline);
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
}

.navbar * {
    vertical-align: middle;
}

section.maincontent {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    width: calc(100vw - 40px) !important;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: calc(var(--navheight) + 0px);
    overflow: auto;
    height: calc(100vh - var(--navheight) - 40px);
}

section.maincontent>* {
    flex-grow: 1;
    flex-shrink: 1;
    height: fit-content;
}

main:has(input#navtoggle:checked) section.maincontent {
    left: calc(15vw + 20px);
    width: calc(100vw - 15vw - 60px) !important;

}

section.card {
    background: var(--cardbg);
    padding: 15px;
    border-radius: 5px;
    box-shadow: #010e0647 2px 2px 10px;
    width: fit-content;
}


.title {
    font-weight: bold;
    color: var(--accent);
    text-align: center;
    display: inline-block;
}

section.title {
    display: block;
    width: 100%;
}

ul.tasksList li {
    list-style-type: none;
    margin: 0px;
    display: block;
    margin-bottom: 10px;
    user-select: none;

}

ul.tasksList>li>label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

ul.tasksList li>span {
    display: inline-block;
}

.taskDescription {
    font-size: 0.7em;
    margin-left: 2px;
}

.taskDescription,
.taskDescription * {
    display: inline;
}

ul.tasksList {
    margin: 0px;
    padding-inline-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.taskworth {
    font-weight: bold;
}

.v-currency::before {
    content: "🪙 $";
}

.dueby {
    font-weight: bold;
}

.v-date::before {
    content: "🗓️ ";
}

.navtogglebtn {
    padding: 5px;
}

nav .title {
    width: 100vw;
    position: absolute;
    top: 6px;
    left: 0px;
    text-align: center;
    z-index: -1;
    transition: all 0.1s ease-in-out;
}

.rhs:not(nav .rhs) {
    float: right;
}

nav .rhs>* {
    all: unset;
    border-radius: 5px;
    border: 1px solid var(--outline);
    padding: 5px;
    background: transparent;
    font-size: 0.6em;
    display: block;
    vertical-align: middle;
}

nav .rhs {
    display: flex;
    gap: 5px;
}

nav,
section.sidebar {
    user-select: none;
}

section.sidebar button.active {
    background: var(--cardbg);

}

section.sidebar button {
    all: unset;
    border-radius: 5px;
    border: 1px solid var(--outline);
    background: transparent;
    display: block;
    font-size: 0.8em;
    width: calc(100% - 25px);
    padding: 8px;
    text-align: left;
    margin: 5px;
}

section.sidebar,
section.maincontent {
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.09s;
}

@media (max-width: 666px) {
    main:has(input#navtoggle:checked) section.maincontent {
        left: 0px;
        width: calc(100vw - 40px) !important;

    }

    section.maincontent {
        left: 0;
        width: calc(100vw - 40px) !important;
        transform: scale(0.8);
        opacity: 0.8;
    }

    main:has(input#navtoggle:checked) section.maincontent {
        transform: scale(1);
        opacity: 1;
    }

    main:has(input#navtoggle:checked) section.sidebar {
        display: block;
        position: absolute;
        left: -100vw;
    }

    section.sidebar {
        display: block;
        z-index: 10;
        width: calc(100vw - 21px);
    }

    nav .title {
        text-align: left;
        margin-left: 40px;
        margin-top: 1px;
    }
}

@media (max-width: 320px) {
    nav .title {
        opacity: 0;
    }
}

.taskcheck {
    display: block;
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=submit], .fancyfancyfancy{
    all: unset;
    background: var(--accent);
    color: var(--bgc);
    padding: 8px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: calc(100% - 15px);
    text-align: center;
}
.buttonrow{
    display: flex;
    gap: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    all: unset;
    background: var(--secondary);
    padding: 5px;
    border-radius: 5px;
    width: calc(100% - 10px);
}

.task button {
    background: none;
    border: 0px;
    outline: none;
}

.page:not(.active) {
    display: none;
}

dialog{
    border: 0px;
    background: var(--bgc);
    padding: 0;
    border-radius: 5px;
    box-shadow: #010e0647 2px 2px 10px;
    width: fit-content;
    z-index: 11 ;
    position: fixed;
    top: 15%;
    min-width: 30%;
}
dialog .title{
    text-align: center;
    width: 100%;
}
body:has(dialog[open])::before{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0px;
    left:0px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    content: ' ';
    z-index: 10;
}
dialog > .card{
    box-shadow: none;
    margin: 0px;
    z-index: 110;
    position: relative;
    width: calc(100% - 30px);
}
dialog:not(:has(.card)){
    padding: 15px;

}
.sidebar footer, .sidebar footer *{
    font-size: 0.8em;
    color:var(--fgc) !important;
    font-style: italic;
    text-align: center;
}

button.fancyfancyfancy.danger{
    background: rgb(255, 49, 49);
}
path {
    stroke: var(--fgc)
}
    @keyframes explode {
      0% {
        transform: scale(0) translate(0, 0) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: scale(1) translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) rotate(720deg);
        opacity: 0;
      }
    }

    .item {
      position: absolute;
      width: 32px;
      height: 32px;
      pointer-events: none;
      animation: explode 2s ease-out forwards;
    }
    table, thead, tbody, tr, td{
        min-width: fit-content;
        border-collapse: collapse;
    }
    thead{
        background: var(--secondary);
    }
    thead td{
        padding: 5px;
    }
    tr:nth-of-type(2n){
        background: var(--cardbg);
    }